html, body
  height: 100%
  background: rgba(0, 0, 0, 0.9)
  padding: 0
  margin: 0
canvas
  position: absolute
  margin: auto
  top: 0
  bottom: 0
  left: 0
  right: 0
  &:hover
    cursor: pointer

.selected
  background: rgba(255, 255, 255, 0.5)
  color: #fff


nav
  background: #1abc9c
  position: absolute
  top: 0
  left: 0
  width: 100%
  line-height: 45px
  height: 45px
  span
    padding: 12px 5px
    cursor: default
    margin: 0 10px
    font-size: 20px
  .bt:hover
    @extend .selected
    cursor: pointer
